@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
  /* Container colors */
  --bg-color: #2c2c2c;
  --mg-color: #414141;
  --fg-color: #4d4d4d;
  /* Content colors */
  --light-color: #f4f4f4;
  --hover-light-color: #d4d2d2;
  --link-color: #0de214;
  --hover-link-color: #0dae12;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: all 0.2s;
  /* border: 1px solid var(--link-color); */
}

body {
  background-color: var(--bg-color);
  color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus{
  outline: none;
}


/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 57px;
  padding: 0 12px;
  top: 0;
  z-index: 100;
  position: sticky;
  border: 0;

  background-color: var(--mg-color);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

.header_left {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_left > button {
  background: none;
  border: none;
  color: var(--light-color);
}

.header_menu-icon {
  font-size: 40px !important;
}

.header_title {
  font-size: 23px;
  cursor: pointer;
  margin-left: 20px;
}

.header_title:hover {
  color: var(--link-color);
}

.header_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.header_search-input {
  height: 30px;
  width: 120px;
  background-color: var(--light-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  border: none;
}

.header_search-btn {
  background-color: var(--light-color);
  border: none;
  height: 30px;
  padding: 2.5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_search-btn:hover {
  background-color: var(--hover-light-color);
}

.header_search-icon {
  font-size: 30px !important;
}

@media screen and (max-width: 480px) {
  .header_title {
    font-size: x-large;
    margin-left: 5px;
  }
  .header_search > input {
    width: 70px;
  }
}

/* NAVBAR (<HEADER) */

.navbar {
  background-color: var(--fg-color);
  position: absolute;
  top: 57px;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.navbar_link {
  margin: 20px 0;
}

.navbar_link > a > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  cursor: pointer;
}

.navbar_link > a > span:hover {
  color: var(--link-color);
}


/* SECTION */
.section {
  margin: 40px 20px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--mg-color);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);

}

.section_products {
  display: flex;
  flex-direction: column;
}

.section_title {
  font-size: 28px;
  margin: 10px 0 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.section_title:hover {
  color: var(--link-color);
}

.section_title > svg {
  font-size: 40px !important;
}

@media screen and (min-width: 500px) {
  .section_products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .section {
    padding: 5px 2px 5px 2px;
  }
}

/* CARD */
.card {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_image {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.card_image:hover {
  filter: brightness(0.75);
}

.card_title {
  width: 100%;
  margin: 7px 0 15px 0;
  font-size: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card_title:hover {
  color: var(--link-color);
}

@media screen and (min-width: 500px) {
  .card_image {
    width: 200px;
    height: 270px;
  }

  .card_title {
    width: 200px;
    font-size: 14px;
  }
}


/* PRODUCT */
.product_title {
  margin: 15px 15px 8px 15px;
  width: 90%;
  font-size: 23px;
}

.product_img {
  width: 90%;
  margin: 7px auto;
  border-radius: 5px;
  filter: brightness(0.99);
}

.product_info {
  margin-bottom: 40px;
}

@media screen and (min-width: 900px) {
  .product {
    display: flex;
    flex-direction: row;
  }
  .product_info {
    flex: 4;
  }
  .product_img {
    width: 55%;
  }
}


/* ORDER */
.order_credentials {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.credentials_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order_credentials > label > input[type="text"] {
  margin-top: 3px;
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  border: none;
}

.order_credentials > label > input[type="text"]:hover {
  background-color: var(--hover-light-color);
}

.order_credentials > input[type="submit"] {
  padding: 10px;
  background-color: var(--link-color);
  width: 50%;
  margin: 0 auto;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.order_credentials > input[type="submit"]:hover {
  scale: 1.01;
  background-color: lime;
}

.size_price {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.size {
  margin-right: 50px;
}

@media screen and (min-width: 900px) {
  .order_credentials {
    flex: 6;
    width: 65%;
    padding: 20px 40px 20px 20px;
  }
}

/* MYSTERY */
.mystery_form {
  display: flex;
  flex-direction: column;
}
.mystery_form > label {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
}

.mystery_form > label:hover {
  color: var(--link-color);
}

/* PAGE DEFAULT */
.page {
  margin: 30px 7px;
}

/* FOOTER */
footer {
  margin: 40px 0 30px 0;
}